#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        // Буква Ё (Q + W / Й + Ц)
        combo_yo {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp GRAVE>;
        };

        // Буква Х (O + P / Щ + З)
        combo_kha {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp LBKT>;
        };

        // Буква Ъ (P + SEMI / З + Ж)
        combo_hard_sign {
            timeout-ms = <50>;
            key-positions = <9 10>;
            bindings = <&kp RBKT>;
        };

        // Буква Э (L + SEMI / Д + Ж)
        combo_e_sign {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp SQT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Слой 0: Основной QWERTY (3x6)
        default_layer {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D  &kp F  &kp G        &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp ESC &mo 1 &kp SPACE    &lt 3 RET &lt 2 BSPC
            >;
        };

        // Слой 1: NUM (F1-F10 верх, 1-0 центр)
        num_layer {
            bindings = <
&kp TAB    &kp F1   &kp F2       &kp F3       &kp F4     &kp F5          &kp F6   &kp F7   &kp F8    &kp F9   &kp F10  &kp DEL
&kp LSHFT  &kp N1   &kp N2       &kp N3       &kp N4     &kp N5          &kp N6   &kp N7   &kp N8    &kp N9   &kp N0   &kp MINUS
&kp LCTRL  &kp F11  &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &kp PSCRN       &kp F12  &trans   &kp COMMA &kp DOT  &kp EQUAL &kp ESC
                                 &trans       &trans     &trans          &mo 4    &trans
            >;
        };

        // Слой 2: NAV (Стрелки и навигация)
        nav_layer {
            bindings = <
&trans     &trans    &kp HOME  &kp UP    &kp END   &kp PG_UP    &trans  &trans    &trans    &trans    &trans &trans
&trans     &trans    &kp LEFT  &kp DOWN  &kp RIGHT &kp PG_DN    &trans  &kp LSHFT &kp LCTRL &kp LALT  &trans &trans
&trans     &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V) &trans       &trans  &trans    &trans    &trans    &trans &trans
                               &trans    &trans    &trans       &trans  &trans
            >;
        };

        // Слой 3: SYM (Спецсимволы и скобки)
        sym_layer {
            bindings = <
&trans     &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET &kp AMPS  &kp ASTRK &kp LPAR  &kp RPAR  &trans
&trans     &kp GRAVE &kp MINUS &kp PLUS  &kp EQUAL &kp BSLH     &kp TILDE &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC  &trans
&trans     &trans    &trans    &trans    &trans    &trans       &trans    &trans    &trans    &trans    &trans    &trans
                               &trans    &trans    &trans       &trans    &trans
            >;
        };

        // Слой 4: NUMPAD (Бухгалтерский блок 3х3)
        numpad_layer {
            bindings = <
&trans     &trans  &trans  &trans  &trans  &trans       &trans  &kp N7  &kp N8  &kp N9  &kp FSLH  &kp DEL
&trans     &trans  &trans  &trans  &trans  &trans       &trans  &kp N4  &kp N5  &kp N6  &kp ASTRK &kp MINUS
&trans     &trans  &trans  &trans  &trans  &trans       &trans  &kp N1  &kp N2  &kp N3  &kp PLUS  &kp RET
                           &trans  &trans  &trans       &kp N0  &kp DOT
            >;
        };

        // Слой 5: MOUSE (Мышь)
        mouse_layer {
            bindings = <
&trans     &trans  &trans  &trans  &trans  &trans       &trans  &trans    &trans    &trans    &trans &trans
&trans     &trans  &trans  &trans  &trans  &trans       &trans  &mkp LCLK &mkp MCLK &mkp RCLK &trans &trans
&trans     &trans  &trans  &trans  &trans  &trans       &trans  &trans    &trans    &trans    &trans &trans
                           &trans  &trans  &trans       &mkp LCLK &mkp RCLK
            >;
        };
    };
};


